<div
  class='tab-pane fade'
  id='contact-tab-pane'
  role='tabpanel'
  aria-labelledby='contact-tab'
  tabindex='0'
>
  <div class='row'>
    <div class='col-sm-7'>
      <h2>Big Maze</h2>
      <p>This maze is 50x50</p>
      <p>Use WASD or Arrow Keys to travel around the maze</p>
      <p>You can wrap on both the X and Y axis</p>
      <!-- <p><strong>Note:</strong> This map is randomly generated.  If you are unable to complete the maze please click the "Regenerate Maze" button</p>

                  <button id="regenerate-maze2" class="btn btn-primary">Regenerate Maze</button> -->
    </div>
    <div class='col-sm-5'>
      <div id='maze'></div>
    </div>
  </div>
</div>