<div
  class='tab-pane fade show active'
  id='home-tab-pane'
  role='tabpanel'
  aria-labelledby='home-tab'
  tabindex='0'
>
  <div class='row'>
    <div class='col-sm-8'>
      <h2>Coin Collector</h2>
      <p>
        Use WASD or Arrow Keys to travel around the maze and collect coins.
      </p>
      <p>You can wrap on both the X and Y axis</p>
      <p>
        <strong>Note:</strong>
        This map is randomly generated. If you are unable to complete the maze
        please click the "Regenerate Maze" button
      </p>

      <button id='regenerate-maze' class='btn btn-primary'>
        Regenerate Maze
      </button>
    </div>
    <div class='col-sm-4'>
      <div id='maze3'></div>
    </div>
  </div>
</div>