<div class='demo-pane d-none' id='demo-events'>
  <div class='row g-3'>
    <div class='col-12 col-lg-5 col-xl-4'>
      <div class='demo-grid-wrap mx-auto'>
        <div id='grid1'></div>
        {{> touchpad id="events-demo-dpad"}}
      </div>
    </div>
    <div class='col-12 col-lg-7 col-xl-8'>
      <div>
        <h2>Events</h2>
        <p class='text-muted small mb-2 d-xl-none'>
          Use the directional pad below the grid to move on touch devices.
        </p>
        <div id='move-events'>
          <ul></ul>
        </div>
      </div>
    </div>
  </div>
</div>