<div
  class='tab-pane fade'
  id='disabled-tab-pane'
  role='tabpanel'
  aria-labelledby='disabled-tab'
  tabindex='0'
>
  <div class='row'>
    <div class='col-sm-7'>
      <h2>Mini Maze</h2>
      <p>This maze is 10x10</p>
      <p>Use WASD or Arrow Keys to travel around the maze</p>
      <p>You can wrap on both the X and Y axis</p>
      <p>
        <strong>Note:</strong>
        This map is randomly generated. If you are unable to complete the maze
        please click the "Regenerate Maze" button
      </p>

      <button id='regenerate-maze3' class='btn btn-primary'>
        Regenerate Maze
      </button>
    </div>
    <div class='col-sm-5'>
      <div id='maze2'></div>
    </div>
  </div>
</div>