<div class='demo-pane d-none' id='demo-minimaze'>
  <div class='row g-3 align-items-start'>
    <div class='col-12 col-xl-7 order-2 order-xl-1'>
      <h2>Mini Maze</h2>
      <p>This maze is 10×10.</p>
      <p>
        Use WASD or Arrow Keys, or the on-screen directional pad on smaller
        viewports, to travel around the maze.
      </p>
      <p>You can wrap on both the X and Y axis</p>
      <p>
        <strong>Note:</strong>
        This map is randomly generated. If you are unable to complete the maze
        please click the "Regenerate Maze" button
      </p>

      <button id='regenerate-maze3' class='btn btn-primary'>
        Regenerate Maze
      </button>
    </div>
    <div class='col-12 col-xl-5 order-1 order-xl-2'>
      <div class='demo-grid-wrap mx-auto'>
        <div id='maze2'></div>
        {{> touchpad id="minimaze-demo-dpad"}}
      </div>
    </div>
  </div>
</div>