<div
  class='tab-pane fade'
  id='mobile-component'
  role='tabpanel'
  aria-labelledby='mobile-component-tab'
  tabindex='0'
>
  <div class='row'>
    <div class='col-sm-7'>
      <h2>Mobile Component</h2>
      <p>This is a mobile component</p>
      <p>Use WASD or Arrow Keys to move around and render the component in
        different cells.</p>

    </div>
    <div class='col-sm-5'>
      <div id='mobile-component-grid'></div>
    </div>
  </div>
</div>