<ul class='nav nav-tabs' id='myTab' role='tablist'>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link active'
      id='home-tab'
      data-bs-toggle='tab'
      data-bs-target='#home-tab-pane'
      type='button'
      role='tab'
      aria-controls='home-tab-pane'
      aria-selected='true'
    >
      Coin Collector
    </button>
  </li>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link'
      id='profile-tab'
      data-bs-toggle='tab'
      data-bs-target='#profile-tab-pane'
      type='button'
      role='tab'
      aria-controls='profile-tab-pane'
      aria-selected='false'
    >
      With Events
    </button>
  </li>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link'
      id='contact-tab'
      data-bs-toggle='tab'
      data-bs-target='#contact-tab-pane'
      type='button'
      role='tab'
      aria-controls='contact-tab-pane'
      aria-selected='false'
    >
      Big Maze
    </button>
  </li>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link'
      id='disabled-tab'
      data-bs-toggle='tab'
      data-bs-target='#disabled-tab-pane'
      type='button'
      role='tab'
      aria-controls='disabled-tab-pane'
      aria-selected='false'
    >
      Mini Maze
    </button>
  </li>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link'
      id='mobile-component-tab'
      data-bs-toggle='tab'
      data-bs-target='#mobile-component'
      type='button'
      role='tab'
      aria-controls='disabled-tab-pane'
      aria-selected='false'
    >
      Mobile Component
    </button>
  </li>
</ul>