.gamegrid {
  background-image: url(./images/sand-texture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 110;
}

.gamegrid__cell {
  position: relative;
}

[data-cell-type="barrier"] {
  background-image: url(./images/cactus.png);
  background-size: contain;
  background-repeat: no-repeat;
}

[data-cell-type="interactive"] {
  background-image: url(./images/puddle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.gamegrid__cell--active::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(./images/camel.png);
  background-size: contain;
  background-repeat: no-repeat;
}
